@model Person

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<ul>
    <li>First: @Model.first_name</li>
    <li>First: @Model.surname</li>
    <li>First: @Model.birthdate.ToLongDateString()</li>
</ul>

<form asp-controller="Home" asp-action="About" method="post">
    <div class="text-danger" asp-validation-summary="ValidationSummary.All"></div>

    <div class="form-group">
        <label for="first_name">First: </label>
        <input class="form-control"  asp-for="first_name" />
        <span asp-validation-for="first_name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="surname">Last: </label>
        <input class="form-control"  asp-for="surname" />
        <span asp-validation-for="surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="dob">DOB: </label>
        <input class="form-control" asp-for="birthdate" />
        <span asp-validation-for="birthdate" class="text-danger"></span>
    </div>

    <button class="btn btn-default" type="submit">Submit</button>
</form>